*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




/* -------------------BOUTON MENU-------------------------- */



.bouton{
    position: absolute;
    top: 50px;
    left: 5px;
    width: 70px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 10px 20px #6C6C6C;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.bouton span{
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: rgb(61, 236, 236);
    border-radius: 4px;
    transition: 0.5s;
}
.bouton span:nth-child(1){
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}
.bouton span:nth-child(2){
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}
.bouton.active span:nth-child(1){
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-duration: 0.3s;
}
.bouton.active span:nth-child(2){
    transform: translateY(0px) rotate(315deg);
    width: 40px;
    transition-duration: 0.3s;
}
.bouton.active span:nth-child(3){
    transform: translateX(60px);
}